body {
  background-color: #ede9d7
}

.sidebar {
  float: right;
  width: 200px;
  color: white;
  background-color: #d6d3c5;
  margin-top: 235px;
  padding: 20px;
}

.center_tour {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;

}
.big_headline {
  font-family: monospace;
  font-size: 80px;
  text-align: center;
  background-color: #ede9d7;
  padding: 20px;
}

img {
  max-width: 800px;
  max-height: auto;
  margin-left: 100px;
}

.column {
  float: left;
  width: 250px;
  margin: 10px;
  text-align: center;
}

.columns {
  margin-left: 80px;
}

.TourDates {
  font-family: sans-serif;
  font-size: 12px
}

.lorem_one {
  background-color: #FFFF00;
  padding: 3px;
}
